nav {
    display: flex;
    flex-direction: column;
}

nav ul,
nav a {
    list-style: none;
    text-decoration: none;
    color: var(--text-color-dark);
}

.top-nav {
    height: 24px;
    display: flex;
    justify-content: space-between;
    padding: 3px 15%;
}

.contact-info,
.auth-links {
    display: flex;
    align-items: center;
    gap: 13px;
}

.top-nav-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bottom-nav {
    height: 61px;
    position: sticky;
    top: 0;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    padding: 8px 3%;
    background-color: #add8e6;
}
.logo {
    display: flex;
    align-items: center;
}
.logo .icon {
    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-weight: 900;
}
.logo .icon.first {
    color: var(--secondary-color-dark);
}
.logo .icon.second {
    color: var(--primary-color-dark);
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 13px;
}
.main-nav a {
    transition: .6s;
}
.main-nav a:hover {
    color: var(--primary-color-light);
    transform: scale(1.2);
    transition: .3s;
}

.main-nav .active{
    font-size: 18px;
    color: var(--primary-color-dark);
    font-weight: 700;
}
.main-nav li{
    transition: .6s;
}

.main-nav li:hover {
    transform: scale(1.2);
    transition: .6s;
}

.h-bar {
    height: 60%;
    border-left: 1px solid lightslategray;
}

#login-btn {
    padding: 3px 18px;
    background-color: var(--primary-color-dark);
    font-weight: 500;
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    border: none;
    background-color: var(--secondary-color-dark);
    color: white;
    cursor: pointer;
    padding: 10px 7px;
    border-radius: 36px;
}
#scrollTopBtn i {
    font-size: 35px;
}

#scrollTopBtn:hover {
    background-color: var(--secondary-color-light);
    transition: .4s;
}
#scrollTopBtn:hover i{
    color: black;
}

nav .active {
    font-size: 18px;
    color: var(--primary-color-dark);
    font-weight: 700;
}
